header{
    background-color: #d50000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:white;
    text-align:center;
    padding:5px;
}

body{
    width: 880px;
    height: auto;
    align-content: center;
    background-color: aliceblue;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: medium;

}
h1{
    color: aliceblue;
    text-align: center;
}
h3{
    color: #d50000;

}

nav {
    line-height: 30px;
    background-color: #eeeeee;
    height: auto;
    width: 280px;
    float: left;
    padding: 5px;
}
section {
    width:350px;
    float:left;
    padding:25px;
}


img{
    width: 45px;
    height: 40px;
}
footer{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;

}
