body {
    background-color: #eeeeee;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;

}
header {

}

#logo{
    width:960px;
}

#banner{
    width: 960px;
}
main{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

/* CSS FOR NAVIGATION - START */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    text-transform: capitalize;
    width: 960px;
     }


 .active {
           background-color: #FF1744;
        }


 li {
            float: left;
            /* Add a gray right border to all list items, except the last item (last-child) */
            border-right: 1px solid #bbb;
            justify-items: center;
            text-align: justify;
            width: auto;
        }


li a {
            display: block;
            color: #666;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: auto;
            display: inline-flex;

   }

/* Change the link color to #111 (black) on hover */
li a:hover {
       background-color: #FF8A80;
       color: white;
       }
li:last-child {
       border-right: none;
       }

a{
    color: black;
    text-decoration: darkred;
    border: thin;

}
/* CSS FOR NAVIGATION - END */




#feature_pic{
float: left;
    margin-right: 10px;
}

.main_content{
    float:left;
    width:auto;
}

/*Table Formatting*/
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    background-color:#fff;
}
table#t01 th	{
    background-color: black;
    color: white;
}

.fixer{
    clear: both;
}
h1{
font-weight: lighter;

}
h2{
    font-weight: lighter;
}
h3{
    font-weight: lighter;
}
footer{
    background-color: #363636;
    text-align: match-parent;
    color: #FFFFFF;
    height: 60px;
}


