/*START OF CSS*/

/*General Body CSS*/
/*--------------------------------*/
body {
    font-family: 'Roboto', sans-serif; /*From Google fonts*/
    background-color: white;
}


/*--------------------------------*/
/*--------------------------------*/
/*Logo and Header CSS*/





/*--------------------------------*/
/*--------------------------------*/

/*Navigation CSS*/





/*--------------------------------*/
/*--------------------------------*/

/*CSS for Main Section*/
main {
    max-width: 660px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
}


/*--------------------------------*/
/*--------------------------------*/

/*CSS for Main Article on Index*/
#bugArticle{

}




/*---------------------------------*/
/*---------------------------------*/

/*CSS for Forms*/
#bugTable{

}




/*---------------------------------*/
/*--------------------------------*/

/*Footer CSS*/




/*---------------------------------*/
/*--------------------------------*/


/*END OF CSS*/

