header{

}
body{
    font-family: 'Roboto', sans-serif;
    width: 680px;

}
.logo{
    width: 5px;
    height: 5px;
}
h1{

    font-weight: bold;

}

h2{

}

aside{
    float: left;
    width: 30%;
    padding:1%;
    margin: 1%;
}
.Main{
display: inline-block;
    width: 66%;
    padding:1%;
    margin: 1%;
}

