header{

}
body{
    font-family: 'Roboto', sans-serif;
    width: 680px;
    alignment: center;

}
.logo{
    float: left;

}
h1{
    display: inline-block;
    font-weight: bold;

}

h2{
    display: inline-block;
}

aside{
    float: left;
    width: 30%;
    padding:1%;
    margin: 1%;
}
.Main{
display: inline-block;
    width: 66%;
    padding:1%;
    margin: 1%;
}

