header{

}
body{
    font-family: 'Roboto', sans-serif;
    width: 680px;
    margin-left: auto;
    margin-right: auto;

}
#logo {
    height: 45px;
    width: 45px;
    float: left;
}
h1{
    display: inline-block;
    font-weight: bold;

}

h2{
    display: inline-block;
}

aside{
    float: left;
    width: 30%;
    padding:1%;
    margin: 1%;
    background-color: #b3b3b3;
}
.Main{
display: inline-block;
    width: 66%;
    padding:1%;
    margin: 1%;
}
footer{
    background-color: #1a1a1a;
    color: #b3b3b3;
}

