body{
    background-color: black;
}

main{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    background-color: #eeeeee;
}

#cont1{
    background-color: darkgoldenrod;
}

#cont2{
    background-color: crimson;
}

#cont3{
    background-color: darkolivegreen;
}

